@import "src/styles/index";

.tabs__header {
    ul {
        padding: 0;
        display: flex;
        list-style: none;
        li {
            margin: 0 10px;
        }
        button {
            background-color: transparent;
            border: none;
            color: $secondary;
            font-size: 16px;
            font-weight: 400;
            &.active,
            &:hover {
                border-bottom: 2px solid $primary;
                color: $primary;
            }
        }
    }
}
