$primary: #569b51;
$primary-dark: #4f934a;
$primary-light: #6ab972;

$secondary: #f0f0f0;
$secondary-dark: #cdcdcd;
$secondary-light: #fff;

$background: #232730;
$background-dark: #1b1d29;
$paper: #2e353f;

$black: #000;

$border-color: #39424e;

$error-dark: #d32f2f;
$error: #e84545;

$warning-dark: #f48b29;
$warning: #f0a500;
