@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
}
@mixin text-shadow($shadow) {
  text-shadow: $shadow;
  -webkit-text-shadow: $shadow;
  -moz-text-shadow: $shadow;
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
