@import "./src/styles/index";

.searching__container {
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid $border-color;
  img {
    max-width: 30px;
    margin-right: 10px;
  }
  p {
    @include flex(row, center, center);
  }
  .searching__main {
    font-family: 16px;
    font-weight: 500;
  }
}
