@import "src/styles/index";

.navbar__logo {
  @include flex(row, space-around, center);
  img {
    margin-right: 10px;
    height: 50px;
    &:nth-child(2) {
      height: 45px;
    }
  }
}

.navbar__open {
  background-color: transparent;
  border: none;
}

@media (min-width: 600px) {
  .navbar__open {
    display: none;
  }
  .navbar__logo {
    margin-left: 10px;
  }
}
