@import "src/styles/index";

aside {
  min-width: 150px;
  margin: 0 10px;
  z-index: 2;
  background-color: $paper;
  border-radius: 5px;
  ul {
    font-size: 16px;
    list-style-type: none;
    padding: 0;
    margin: 10px;
    img {
      width: 30px;
      margin-right: 5px;
    }
    li {
      margin: 20px 0;
      border-bottom: 1px solid transparent;
      @include flex(row, flex-start, center);
      &:hover {
        color: $primary;
        font-weight: 500;
        border-bottom: 1px solid $primary-light;
      }
    }
  }
}

.menu {
  border: 1px solid $border-color;
}

.menu-close {
  display: none;
}
.menu-open {
  display: block;
}

@media (min-width: 600px) {
  aside {
    background-color: transparent;
  }
  .menu {
    display: block;
    border: none;
  }
}
